.account {
  min-height: 90vh;
  padding-top: 110px;

  &__wrapper {
    display: flex;
    gap: 100px;
    max-width: 130rem;
    margin: 0 auto;
    min-height: 60rem;
  }

  &__aside {
    width: 250px;

    h2 {
      font-size: 6.5rem;
      font-weight: 600;
      margin-bottom: 7rem;
    }
  }

  &__tab {
    font-size: 2.6rem;
    font-weight: 600;
    opacity: 0.5;
    cursor: pointer;
    margin-bottom: 1.4rem;
    transition: all 0.3s;

    &:hover {
      opacity: 1;
      transform: translateX(10px);
    }

    &-active {
      opacity: 1;
      transform: translateX(10px);
    }
  }

  &__logout {
    font-size: 2.6rem;
    font-weight: 600;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      opacity: 1;
      transform: translateX(10px);
    }
  }

  &__content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease;

    &-active {
      max-height: 60rem; /* укажите нужную высоту */
      opacity: 1;
    }

    h4 {
      font-size: 3.1rem;
      font-weight: 600;
      margin-bottom: 2.2rem;
    }
  }

  &__add {
    background: var(--green-color);
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    cursor: pointer;
    margin-bottom: 1rem;

    p {
      font-size: 3.4rem;
      font-weight: 600;
      text-transform: uppercase;
      color: white;
    }
  }

  &__card {
    border-radius: 40px;
    border: 1px solid rgb(201, 201, 201);
    background: white;
    padding: 3rem;
    display: flex;
    width: 90rem;
    min-height: 37rem;
    gap: 4rem;

    h5 {
      font-size: 2.5rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 2.4rem;
    }

    &_about {
      div {
        font-size: 1.1rem;
        font-weight: 600;
        opacity: 0.5;
        text-transform: uppercase;
        margin-bottom: 5px;
      }

      p {
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 1rem;
      }
    }

    &_main {
      display: flex;
      flex-direction: column;
      gap: 4rem;

      p {
        font-size: 1.1rem;
        font-weight: 600;
        opacity: 0.5;
        text-transform: uppercase;
        margin-bottom: 5px;
      }

      h6 {
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
      }
    }

    &_img {
      img {
        // background: #d9d9d9;
        border-radius: 100%;
        // padding: 2rem;

        &:last-child {
          background: #000;
        }
      }

      p {
        margin-top: 2rem;
        color: var(--blue-color);
        text-align: center;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 600;
      }
    }
  }

  &__flex {
    display: flex;
    gap: 4rem;
  }
}
